body {
  margin-left: 25%;
  margin-right: auto;
  background-color: #000;
}

.my-image {
  width: 60%;
  display: flex;
  object-fit: cover;
}

button {
  margin-left: 25%;
  margin-top: 25px;
  margin-bottom: 20px;
  border-radius: 3px;
  background-color: #050505;
  box-shadow: 0 2px 4px #b22a2a;
  border: 1px solid #f10606;
  color: #696868;
  padding: 10px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

div {
  width: 60%;
  background-color: #050505;
  margin-bottom: 20px;
  border: 1px solid #f10606;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 4px #b22a2a;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #696868;
}
